---
import DefaultWrapper from '../layouts/default.astro';
---
<DefaultWrapper title="Home Page">
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Welcome to Cybfi Research</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center mb-3">
            <h2 class="text-gray-900 text-lg title-font font-medium">Child Sexual Abuse Material</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Cybfi doesn't handle reports of Child Sexual Abuse Material (CSAM) - but another organization, which spearheads the Amber Alert System, does. They're called NCMEC - click below to file a report with them.</p>
            <a href="https://report.cybertip.org/" class="mt-3 text-blue-500 inline-flex items-center">Visit NCMEC
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center mb-3">
            <h2 class="text-gray-900 text-lg title-font font-medium">Being Abused</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">There are numerous resources available to you - if you wish you report your abuser, there is an anonymous tipline you can use. Our recommendation is NDVH - National Domestic Violence Hotline. Click below to access their website. We recommend RAINN for sexual abuse help, they are also confidential and have plenty of resources for you. They are also linked below.</p>
            <a href="https://www.thehotline.org/" class="mt-3 text-blue-500 inline-flex items-center">Visit NDVH
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <a href="https://www.rainn.org" class="mt-3 text-blue-500 inline-flex items-center">Visit RAINN
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center mb-3">
            <h2 class="text-gray-900 text-lg title-font font-medium">Suicidal</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">There are many suicide hotlines available to you - we encourage you to try as many that support your specific demographic until you feel better. If all else fails - call your local emergency number. You're worth it.</p>
            <a href="https://988lifeline.org/" class="mt-3 text-blue-500 inline-flex items-center">988 Hotline
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <a href="https://www.thetrevorproject.org/" class="mt-3 text-blue-500 inline-flex items-center">The Trevor Project
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <a href="http://www.suicide.org/suicide-hotlines.html" class="mt-3 text-blue-500 inline-flex items-center">More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="Asher" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="/asher-4-5.png">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Who we are</h1>
        <p class="leading-relaxed">Cybfi Research is a dedicated research organization focused on understanding the long-term impacts of various forms of abuse on children and their parents' mental health. Our mission is to conduct in-depth research projects that shed light on the profound effects of early-life experiences and provide valuable insights into the challenges individuals may face later in life. Through ethical and rigorous studies, we aim to contribute to a safer and healthier society, advocating for the well-being of our future generations. Join us in our journey to uncover knowledge that can positively shape the mental health landscape for children and families.</p>
                  <a href="/research" class="mt-3 text-blue-500 inline-flex items-center">View Research
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>      
</div>
    </div>
  </div>
</section>
</DefaultWrapper>